body {
    background:gainsboro;
  }
  .title {
    font-size: 3rem;
    font-family: 'Lobster', cursive;
  }
  .wrapper {
    background: url("https://3dwarehouse.sketchup.com/warehouse/v1.0/publiccontent/e7e79625-f96f-42ce-9579-12cd709c2897");
    color: #eee;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animation 100s linear infinite;
  }
  @keyframes animation {
     100%{
      background-position:0px -3000px;
    }
  }

body, html{
    font: 15px/1.5 Arial, Helvectica, sans-serif;
    padding-top: 0; 
    margin: 0;
    background-color: white;
    overflow-x: hidden;
  }



  
  input[type=text] {
    height: 30px;
    background-color: transparent;
    margin-top: 30px;
    color: white;
    font-family: 'Noto Serif TC', serif;
    font-size: 15px;
}
#exampleFormControlTextarea1 {
    margin: 20px 0;
    height: 130px;
    background-color: transparent;
    color: white;
    font-family: 'Noto Serif TC', serif;
    font-size: 15px;
}
#exampleFormControlTextarea1::placeholder {
    color: white;
}
div.form {
    display: block;
    text-align: center;
}
form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
input[type="text"]::placeholder {
    color: white;
}
button {
    margin-top: 20px;
    margin-bottom: 100px;
    width: 150px;
}
  #contact{
  
    background-repeat: no-repeat;
    background-size: cover;
    color: grey;
    margin: 45px;
    font-family: 'Abel', sans-serif;
  }
  footer {
    background-color: #333333;
    padding: 10px;
    margin-top: 20px;
  }
  .icons {
    text-align: center;
    margin: 10px 0;
  }
  .fas {
    color:white;
  }
  
  .fas:hover {
    color:white;
  }
  
  .fab {
    color: white;
  }
  
  .fab:hover {
    color: grey;
  }
  
  .Copyright {
    text-align: center;
    color: white;
    border-top: #595959 solid 1px;
  }
  #contact .icons ul li {
    display: inline;
    text-align: center;
    padding: 10px;
  }


  .bar {
    border-radius: 10px;
    background: linear-gradient(145deg,#ec4964, #ec4964);
    /* box-shadow: 2px 2px 2px #ec4964, -5px -5px 10px #ec4964,
      inset 2px 2px 2px #ec4964, inset -5px -5px 10px #ec4964; */
    width: 100%;
    height: 15px;
    position: relative;
  }
  /* .box {
    width: 600px;
    height: 68px;
  } */
  .bar:before {
    position: absolute;
    content: "";
    left: 6px;
    top: 5px;
    background: #fff;
    height: 54%;
    border-radius: 10px;
  }
  #html:before {
    width: 90%;
  }
  #js:before {
    width: 60%;
  }
  #python:before {
    width: 80%;
  }
  #angular:before {
    width: 30%;
  }
  .know{
    background: #fff;
    text-transform: uppercase;
    list-style: none;
  }
  .know h1{
    text-align: center;
  }
  .know h3{
    margin: 5px;
  }
  .skills{
    width: 650px;
    margin: 30px auto;
    color: #333;
    /* padding: 20px; */
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .skills li{
    margin: 6px 0;
    padding: 10px;
  }
  .bar{
    background: grey;
    display: block;
    height: 10px;
    border: 1 px solid wheat;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),0 1px 2px blue;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .bar:hover{
    box-shadow: 0 14px 28px blue,0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg,rgb(28, 3, 245)0% , rgb(1, 4, 22)100%);
  }
  .html{
    width: 89%;
    animation: html 3s;
  }
  .javascript {
    width: 82%;
    animation: javascript 3s;
  }
  .flask{
    width: 60%;
    animation: flask 3s;
  }
  .django{
    width: 73%;
    animation: django 3s;
  }
  @keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 89%;
    }
  }
  @keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 52%;
    }
  }
  @keyframes flask{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
  }
  @keyframes django{
    0%{
        width: 0%;
    }
    100%{
        width: 73%;
    }
  }

  
  


  .casm{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}
.wrapperrr{
    display: flex;
    width: 90%;
    justify-content: space-around;
}
.card{
  width: 280px;
  height: 360px;
  padding: 2rem 1rem;
  background: #fff;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
  transition: 0.5s ease-in-out;
}
.card:hover{
  transform: translateY(20px);
}
.card:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(32, 0, 176, 0.5),rgb(69, 135, 235));
  z-index: 1;
  transition: 0.5s all;
  opacity: 0;
}
.card:hover:before{
  opacity: 1;
}
.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.card .info{
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}
.card:hover .info{
  opacity: 1;
  transform: translateY(0px);
}
.card .info h1{
  margin: 0;
  padding-top: 120px;
  font-size: 20px;
  font-weight: bold;
}
.card .info p{
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 20px;
}
.card .info .btn{
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #fff;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.card .info .btn:hover{
  box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}
